{
    "env": {
      "browser": true,
      "jest": true,
      "es6": false
    },
    "plugins": ["babel"],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    
    "rules": {
      "no-console": "off",
      "no-unused-vars": "off"
    }
  }